body {
    margin: 0px;
    border-width: 0px;
    padding: 0px;
    font-family: Futura, Ubuntu, Karla, monospace;
    width: 100%;
}

#header {
    background-color:rgb(71, 161, 71);
    font-size: 2em;
    color:rgb(0, 26, 11);
    text-align: center;
    padding: 2%;
}

#header a:visited {
    color:rgb(0, 26, 11);
}

#navbar {
    background-color:rgb(0, 26, 11);
    font-size: 1em;
    color:rgb(255, 241, 240);
    text-align: right;
    padding: 1%;
}

#navbar a {
    margin-right: 1em;
    color:rgb(255, 241, 240);
}

#navbar a:visited {
    color:rgb(255, 241, 240);
}

#result-boxes {
    display: flex;
    height: 500px;
}

#right-block {
    width: 65%;
    background-color:rgb(32, 56, 44);
    color:rgb(255, 254, 240);
    display: flex;
}

#left-block {
    width: 35%;
    background-color:rgb(0, 26, 11);
    color:rgb(255, 241, 240);
    display: flex;
}

footer {
    height: 3em;
    background-color:rgb(0, 26, 11);
}

.wait {
    background-image: url('/static/images/disneylandWait.jpg');
    height: 500px;
    width: 100%;
}



