#header {
    font-family: 'Lato', monospace;
    font-weight: bold 700;
    text-align: center;
    font-size: 2em;
    padding: 1%;
}
#header a visited{
    text-decoration: none;
    color: floralwhite;
}
#header a:hover{
    text-decoration: none;
    color: floralwhite;
}
#header a {
    text-decoration: none;
    color: floralwhite;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url('/static/images/stripe-colors.jpg');  
    color: floralwhite; 
}

#navbar, #foot {
    text-align: center;
    background-color: #64EB76;
    padding: 1%;
    width: 100%;
    color: black;
}
#navbar button {
    border: none;
    background-color: #64EB76;
    font-weight: bold;
}
#navbar button hover{
    background-color: #64EB76;
}

#foot button {
    border: none;
    background-color: #64EB76;
    font-weight: bold;
}
#foot button hover{
    background-color: #64EB76;
}


input {
    width: inherit;
}

#right {
    background-color: #30168F;
    font-weight: bold;
    color:floralwhite
}

#left, #right {
    padding-top: 1em;
}

#left {
    background-color: black;
}

#form-box button, #confirm {
    margin: 2%;
    background-color:#3DB893;
    border-radius: 40%;
    border-width: 1px;
    border-color: #64EB76;
    width: fit-content;
    border-style: solid;
}

#embed-box {
    padding-top: 1em;
}

#liker {
    margin-top: 1em;
}

#exField, #liker {
    width:fit-content;
    margin-left: revert;
}

#seaResults {
    width: inherit;
    border-left-style: solid;

}

.listedPlay {
    background: rgb(61,184,147);
    background: linear-gradient(0deg, rgba(61,184,147,0.50) 0%, rgba(100,235,118,0.50) 100%); 
    padding: 1%;
		width: inherit;
}

select {
	border-style: none;
	margin-bottom: 1em;
}

#left {
	padding-left: 2em;
	padding-right: 2em;
}





