body {
    margin: 0px;
    height: 100%;
}

.playlist {
    background-color:rgb(37, 37, 37);
    font-size: 2em;
    font-family: Helvetica, 'Open Sans', Verdana, monospace;
    color:rgb(204, 212, 204);
    width: 100%;
}

.navbar {
    width: 100%;
    background-color:rgb(0, 26, 11);
    font-size: 1em;
    font-family: Futura, Ubuntu, Karla, monospace;
    color:rgb(255, 241, 240);
    text-align: right;
    border: 0;
    padding: 1em;
}

.navbar span {
    margin-left: 2em;
}

.popbar {
    width: 50%;
    background-color:rgb(71, 161, 71);
    color:black;
    text-align: left;
}

.wait {
    background-image: url('/static/images/disneylandWait.jpg');
    height: 500px;
    width: 100%;
}