<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="icon" type="image/x-icon" href="/static/images/spotibanana.png">

		<title>{% block head %}  {% endblock%}</title>
	</head>
    <body>
			<div id="header">
				<a href="/">Playlist Maker</a>
			</div>

			<div id="navbar">

				<span id="maker">New</span>
				<span id="searcher">Search</span>

				<!-- Check session data to show either
				A - link to my playlists and logout indicator -->
				{% if session['login'] != False %}
					<a href="/mine">My Playlists</a>
					<a href="/logout">Log out</a>
				<!-- B - an event target to show the login route 
				event in navbar.js -->
				{% else %}
					<span id="joiner">Join</span>
				{% endif %}

			</div>


			<div id="result-boxes">
				<!-- Left block shows search results -->
				<span id="left-block">
					<div>{% block left %} {% endblock %}</div>
				</span>
				<!-- Right block shows input forms -->
				<span id="right-block">
					<div id="flash">
						<ul>
							<!-- Flash any messages (login info) -->
						{% for message in get_flashed_messages() %}
						  <li>{{ message }}</li>
						{% endfor %}
						</ul>
					</div>
					<!-- Uses Navbar.js events to populate bar
					with different input bars
					or spotify playlists-->
					<form id="form-box">
						
					</form>
					<!-- Navbar.js will fill with login forms
					otherwise stay empty, sent via post-->
					<form id="login" action="/login" method="POST">

					</form>
					<form id="join" action="/join" method="POST">

					</form>
					<span id="embed-box">

					</span>
					<div>{% block right %} {% endblock %}</div>
			</div>
    </body>
	<footer id="foot">
		<!-- if the user is logged in - so js doesn't complain -->
		{% if session['login'] != False %} 
			<span id="joiner"></span> 
		{% endif %}
		<script src="/static/js/navbar.js"></script>
		{% block foot %}
		
		{% endblock %}
	</footer>
</html>
