<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="icon" type="image/x-icon" href="/static/images/spotibanana.png">

		<!-- The package that makes React work -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
		<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
		<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script> -->

		<title>{% block head %}  {% endblock%}</title>
	</head>
    <body>
			<div id="header">
				<a href="/">Playlist Maker</a>
			</div>

			<div id="navbar">
				
				<!-- TODO: Add a JS link here to make the navbar interactive -->
				
				<span id="maker">New Playlist</span>
				<span id="searcher">Search</span>

				<!-- links to /my_playlists -->
				{% if session['login'] != False %}
					<a href="/my_playlists">My Playlists</a>
					<a href="/logout">Log out</a>
				{% else %}
					<span id="joiner">Join</span>
					<!-- has its own js file with listener? -->
				{% endif %}

			</div>


			<div id="result-boxes">
				<span id="left-block"><div>{% block left %} {% endblock %}</div></span>
				<span id="right-block">
					<div id="flash">
						<ul>
						{% for message in get_flashed_messages() %}
						  <li>{{ message }}</li>
						{% endfor %}
						</ul>
					</div>
					<form id="pop-bars">
						
					</form>
					<form id="login">

					</form>
					<form id="sing-up">

					</form>
					<div>{% block right %} {% endblock %}</div></span>
			</div>
    </body>
	<footer>
		<span id="joiner"></span>
		<script src="/static/js/navbar.js"></script>
		<script src="/static/js/db_requests.js"></script>
		{% block foot %}
		
		{% endblock %}
	</footer>
</html>
