<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="icon" type="image/x-icon" href="/static/images/spotibanana.png">

		<!-- The package that makes React work -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
		<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
		<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

		<title>{% block head %}  {% endblock%}</title>
	</head>
    <body>
			<div id="header">
				<a href="/">Playlist Maker</a>
			</div>

			<div id="navbar">
				<!-- <script type="text/jsx" src="/static//js/navbar.jsx"></script> -->
				<!-- TODO: Add a JS link here to make the navbar interactive -->
				
				<a href="/new_playlist">New Playlist</a>
				<a href="/search">Search</a>

				{% if session['login'] == False %} 
					<a href="/join">Join</a>
				{% endif %}

				<!-- links to /my_playlists -->
				{% if session['login'] == True %}
					<a href="/my_playlists">My Playlists</a>
					<a href="/logout">Log out</a>
				{% endif %}
			</div>

			

			<div id="result-boxes">
				<span id="left-block"><div>{% block left %} {% endblock %}</div></span>
				<span id="right-block">
					<div id="flash">
						<ul>
						{% for message in get_flashed_messages() %}
						  <li>{{ message }}</li>
						{% endfor %}
						</ul>
					</div>
					<div>{% block right %} {% endblock %}</div></span>
			</div>
    </body>
	<footer>
		{% block foot %}
		
		{% endblock %}
	</footer>
</html>
