{% extends 'base.html' %}

{% block head %}Make a nonsense Spotify playlist{% endblock %} 

{% block left %}
    <h1>Eventually this will be where all results appear</h1>
    <ul>
        <li>Created playlist</li>
        <li>Search results - clicking leads to single playlist page</li>
    </ul>
{% endblock %}

{% block right %} 
    <h1>Eventually this will be where all events Appear</h1>
    <ul>
        <li>Playlist Generating Form</li>
        <li>Search Form</li>
        <li>Log in/Create account</li>
    </ul>
{% endblock %} 

