{% extends 'base.html' %}

{% block head %}All my nonsense{% endblock %} 

{% block leftTop %} 
<h1>Hi {{ user_name }}</h1>
<h2>authored playlists</h2>
<ul>
    {% for play in created %}
        <li id={{ play[0] }}>{{ play[1] }}</li>
    {% endfor %} 
</ul>
{% endblock %}
{% block leftLow %}
<h2>Liked playlists</h2>
<ul>
    {% for play in liked %} 
        <li id={{ play[0] }}>{{ play[1] }} by {{ play[2] }}</li>
    {% endfor %}
</ul>
{% endblock %}

{% block foot %} 
    <span id="adjuster">account details</span>
{% endblock %}